
.navbar-brand{
    text-decoration: none;
    width:20%;
    margin-left: 40px;
    margin-right:5%;
}
.nav-item{
    font-size: 1.5em ;
    color : whitesmoke;
}

.navbar-dark{
    justify-content: center;
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
}
.info-text{
    margin-left:auto;
    margin-right:auto;
    width:40%;
}

.score-bar{
    color : whitesmoke;
    margin-right: 40px;
    width:25%;
}


@media only screen and (max-width: 910px){
    .nav-item{
        margin-right: auto;
        margin-left: auto;
        width:100%;
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 600px){
    .nav-item{
        margin-right: auto;
        margin-left: auto;
        width:100%;
    }
    body{
        font-size: .75em ;
    }
}